/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Fredoka', sans-serif;
  --font-secondary: 'Fredoka', sans-serif;
  --font-code: 'Fredoka', sans-serif;
  --bg-color: #C2F9FE;
  --footer-color: #A4D4D8
  --font-color: #000000;
  --btn-bg-color: #000000;
  --header-shadow: #000000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 435vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/* HEADER */

header {
  background: var(--btn-bg-color);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.countdown2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 28%;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  font-size: 6rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%)
  
}
.type1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.countdown p {
  text-align: center;
  font-size: 1rem;
  
}
.countdown1 youssef {
  text-align: center;
  font-size: 1rem;
  
}

.countdown youssef {
  font-size: 3rem;
  top: 330%;
  right: 80%;
  position: absolute;
  text-align: left;
}

.countdown info {
  font-size: 3rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
}
.countdown h100 {
  font-size: 3rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
}

.countdown info2 {
  font-size: 3rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
}
.h500 {
  text-indent: 5%;
  font-size: 10rem;
}

.countdown1 h10b0 {
  font-size: 1rem;
  width: 90%;
  text-align: center;
  left: 90%;
  }
.countdown info1 {
font-size: 1rem;
  
  position: absolute;
  width: 90%;
  text-align: center;
   
  
  
    
  /*text-align: left;*/
}
.countdown info3 {
  font-size: 3rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
}

.countdown h5 {
  font-size: 1rem;
  position: absolute;
  text-align: center;
  width: 70%;
    
    left: 50%;
    transform: translate(-50%,-50%)
}

.countdown1 h4 {
  font-size: 1rem;
  width: 90%;
  }

.type4 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.type5 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.type6 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.type3 {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.footer {
  width: 100%;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10000px;
  top: 350%;
  margin-bottom: 5px;
  background-color: #A4D4D8;
}

.h10 {
  font-size: 10rem;
}



/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}
.type10 {
  width: 40%;
  right: 5%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 235vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}
.type4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .type5 {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.countdown h10 {
    font-size: 1rem;
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translate(-50%,-50%)
  }

  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 5rem;
    left: 50%;
    transform: translate(-50%,-50%)
    position: absolute;
    color: black;
  }
    .countdown h3 {
    font-size: 2rem;
    top: 750px;
    right: 45%;
    position: absolute;
    text-align: left;
    }

.countdown h4 {
  font-size: 1rem;
  position: absolute;
  width: 90%;
  }

  .countdown h5 {
    font-size: 2rem;
    top: 1600px;
    right: 61%;
    position: absolute;
    text-align: left;
  }
  .countdown youssef {
    font-size: 2rem;
    top: 2100px;
    right: 69%;
    position: absolute;
    text-align: left;
  }

  .countdown p2 {
    font-size: 2rem;
    top: 2100px;
    right: 68%;
    position: absolute;
    text-align: left;
  }

.countdown h7 {
  font-size: 1rem;
  top: 2200px;
  position: absolute;
  width: 90%;
  font-family: var(--font-primary);
  }
  
  .countdown1 p {
  /*text-align: center;
  font-size: 1rem;
  position: absolute;
  width: 60%;*/
    font-size: 1rem;
    position: absolute;
    top: 490px;
    text-align: center;
    width: 80%;
    font-family: var(--font-primary);
}
.type1 {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}


.type3 {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

  .type5 {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.countdown info {
  font-size: 2rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
}
  .countdown info2 {
  font-size: 2rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
  }
  .countdown h100 {
  font-size: 2rem;
  right: 50%;
  text-indent: 5%;
  /*text-align: left;*/
  }
  .countdown2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 75%;
  }
}

 /*font-family: var(--font-secondary);*/